h1{
    Color: white;
    Font-size: 50px;
}
h2{
    font-size:30px;
    color:rgb(199, 171, 171);
}

body{
    /* background-image: radial-gradient(#174e72, rgba(37, 6, 63), rgb(140, 82, 247)); */
    /* background-color: #174e72; */
    background-image: url(../img/planeta-choque.jpg); 
    font-size: 25px;
    color: rgb(199, 171, 171);
    background-color: #cccccc;
}

#img-principal{
    border-radius: 100%;
    width:500px;
}
#img-secundaria{
    border-radius:80%;
    width: 300px;
}

#superior{
    background-color: rgba(37, 6, 63, 0.363);
}

.central{
    background-color: rgba(37, 6, 63, 0.363);
}

#inferior{
    background-color: rgba(37, 6, 63, 0.363);
}
