h1{
    Color: white;
    Font-size: 50px;
}
h2{
    font-size:30px;
    color:black;
}
body{
    background-color: #174e72;
    font-size: 25px;
    color: rgb(199, 171, 171);
}

#img-principal{
    border-radius: 100%;
    width:500px;
}
#img-secundaria{
    size:300px;
}

#superior{
    background-color: rgba(37, 6, 63, 0.363);
}

#central{
    background-color: rgb(35, 6, 58);
}
#img-secundaria{
    border-radius:80%;
}